*.json
.local/*
credentials.py
.viminfor
.profile
.bashrc
.bash_logout
.ssh/*
.ipython/*
.cache/*
.jupyter/*
Datasets/Reddit/__pycache__/credentials.cpython-36.pyc
.ssh/authorized_keys
*.pyc
*.swp
*.zip

!Server/front/*
