<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - MoodVerse</title>
    <meta name="description" content="no">
    <link rel="stylesheet" type ="text/css" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Francois+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type = "text/css" href="../assets/home.component.css">
</head>

<body class="text-center" style="background-color: rgb(255,255,255);background-image: url(&quot;../assets/bkgd.jpg&quot;);"><img src="../assets/LOGO1.png" style="width: 300px;">
    <div class="card-group">
        <div class="card">
            <div class="card-body" style="background-color: #F2DCC9;opacity: 1;">
                <h4 class="card-title" style="font-family: ABeeZee, sans-serif;font-size: 34px;">Insights</h4>
                <p class="card-text"><img src="../assets/tyb_insights.png" style="width: 146px;filter: contrast(100%);"></p><button class="btn btn-primary" type="button" style="color: #f;background-color: #BF7373;width: 80px;">More</button></div>
        </div>
        <div class="card">
            <div class="card-body" style="background-color: #F2DCC9;">
                <h4 class="card-title" style="font-size: 34px;font-family: ABeeZee, sans-serif;">Talk to me</h4><button class="btn btn-primary" type="button" style="background-color: #BF7373;width: 133px;height: 64px;margin: 18px;">I'm listening</button><img src="../assets/刺猬%20(1).png" style="width: 109px;margin-left: 176px;height: 114px;margin-right: -58px;"></div>
        </div>
        <div class="card">
            <div class="card-body" style="background-color: #F2DCC9;background-size: auto;">
                <h4 class="card-title" style="font-family: ABeeZee, sans-serif;font-size: 34px;">About Us</h4>
                <p class="card-text"><img src="../assets/team.png" style="width: 146px;">&nbsp;</p><button class="btn btn-primary" type="button" style="background-color: #BF7373;width: 80px;">More</button></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>

<!-- <a routerLink = "insights">Insights</a>;

<a routerLink = "talk">Start Talking</a>;

<a routerLink = "about">About Us</a>; -->
